
/* Global Styles */

body {
	background:url(http://www.thiel.edu/assets/css/images/textured-bkg.jpg) repeat;
	font-family: Times, serif;
}

img {
	display: block;
	margin: 0 auto;
	width: 80%;
	height: 40%;
}


p {
	width: 70%;
	height: auto;
	font-size: 1.2em;
	padding: 1.2em 2em;
	margin: auto;
}

ul {
	text-align:center;
	list-style-type: none;
}

a{
	text-decoration:none;
	cursor: auto;
}

footer {
	text-align: center;
}

.wrapper {
	background-color:#f5f5f5;
	width:60%;
	height: auto;
	padding:25px;
	border:10px;
	margin:0 auto;
}

#slogan {
	font-family: Avenir, sans-serif;
	font-size: 2em;
	font-style:italic;
	font-weight: normal;
	text-align:center;
}

h1 {
	font-family: Avenir, sans-serif;
	font-size: 3em;
	text-align:center;
}

nav {

}

/* Nav Styles */

.main-nav li {
	font-size: 1.4em;
	display: inline;
	padding: 0 6%;
	margin: 0 auto;
	border-right: 1px solid #000;
}

.main-nav li.last {
	border: none;
}

.main-nav a:link, .main-nav a:visited {
	color: #0d204a;
}

.main-nav a:hover {
	color: #998643;
}


